/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

div#root {
  /* background-color: black; */
  height: 100vh;
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}
